# Support old RSS URLs from FeedBurner.

Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^.*$ https://www.nathanhammond.com/ [L,NE,R=301]

# Comments URLs
RewriteCond %{REQUEST_URI} ^/nathanhammond/comments/*$
RewriteRule ^.*$ https://www.nathanhammond.com/comments/feed [L,NE,R=301]

# Entries URLs
RewriteCond %{REQUEST_URI} ^/nathanhammond/entries/*$
RewriteRule ^.*$ https://www.nathanhammond.com/feed [L,NE,R=301]
</IfModule>

ErrorDocument 404 /error.php
